<app-top-bar [titulo]="titlePage"></app-top-bar>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 



<div class="register-box">
    <div class="titleRegister">
        <h1>Client Register</h1>
        <br><br>
    </div>
   <form>
       <div class="inputsRegister">
           <input type="text" id="nome" placeholder="Nome" />
       </div>

       <div class="inputsRegister">
            <input type="text" id="phone" placeholder="Phone" />
        </div>

        <div class="inputsRegister">
            <input type="email" id="email" placeholder="E-mail" />
        </div>

        <div class="inputsRegister">
            <input type="text" id="login" placeholder="Login" />
        </div>

        <div class="inputsRegister">
            <input type="date" id="date" placeholder="Date of Birth" />
        </div>

        <div class="inputsRegister">
            <input type="password" id="password" placeholder="Password" />
        </div>

        <div class="inputsRegister">
            <input type="text" id="document" placeholder="Document" />
        </div>

        <div class="btnss">
            <div class="btnAddress1"><button class="btn">Cancel</button></div>
            <div class="btnAddress2"><button class="btn">Save Changes</button></div>
        </div>
   </form>
</div>