<app-top-bar></app-top-bar>
<body>
    <div class="container-store">
      <div class="title">Store Register</div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">CNPJ</span>
            <input type="text" id="cnpj" placeholder="Enter your CNPJ" required>
          </div>
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" id="name" placeholder="Enter your name" required>
          </div>
        </div>
    <div class="centerbutton">
        <button class="btn" (click)="save()">Save Changes</button>
        <button class="btn" [routerLink]="['/']">Cancel</button>    
    </div>
</div>
</body>