<!-- <app-top-bar [titulo]="titlePage"></app-top-bar>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
<div *ngIf="product">
    <div class="productsComponent">
        <div class="box2">
            <img class= "imageProductDetail" style="width: 250px; height:200px; margin: 120px 20px 10px 210px;" src={{product.image}}> 
            <button class="buttonPurchase" (click)="show()">Purchase</button>
            <div id="types" style="display:none">
                <div class="input-box">
                    <span class="details" for="gender">Payment Method</span>
                    <input type="radio" name="gender" value="1" required>Credit
                    <input type="radio" name="gender" value="2" required>Debit
                    <input type="radio" name="gender" value="3" required>Transfer
                    <button class="buttonFinalize" (click)="finalize()">Finalize Purchase</button>
                  </div>
                  
            </div>
        </div>
        <div class="box1"> 
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <h4 class="priceProductDetail"></h4>
        </div>
    
    </div>
</div> -->


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<app-top-bar [titulo]="titlePage"></app-top-bar>
  <div id="wrap">
    <div *ngIf="product" id="product">
      <div class="top">
      <div class="product_images">
        <div class="product_image_1">
          <img src={{product.image}}/>
        </div>
        <!--<div class="product_image_small">
          <div class="product_image_2">
            <img src="img/cel2.jpg"/>
          </div>
                    <div class="product_image_3">
            <img src="img/cel3.jpg"/>
          </div>
                    <div class="product_image_4">
            <img src="img/cel4.jpg"/>
          </div>
        </div> -->
        </div>
        <div class="product_info">
          <h1>{{product.name}}</h1>
          <div class="price">
          <!-- <h2 class="original_price">$4.595,00</h2> -->
          <h2 class="sale_price">{{product.unit_price | currency: 'BRL'}}</h2>
          </div>
          <div class="rating">
            <i class="fa fa-star fa-3x"></i><i class="fa fa-star fa-3x"></i><i class="fa fa-star fa-3x"></i><i class="fa fa-star-half-o fa-3x"></i><i class="fa fa-star-o fa-3x"></i>
          </div>
          <div class="product_description">
          <p>{{product.description}}</p>
         <div class="related_info">
           <span class="quantity">Quantity:{{product.quantity}}</span>
         </div>
          <div class="buying">
                 <!-- <div class="quantity">
                   <label for="quantity">Quantity:</label>
                   <input type="number">
                 </div> -->
                 <button *ngIf="coracao==false" (click)="AddProductToWishList(product.idStocks)" ><i class="fa fa-heart-o"></i></button>
                 <button *ngIf="coracao==true"(click)="RemoveWishList(product.idStocks)" ><i class="fa fa-heart"></i></button>
                 <button (click)="show()">Buy now</button>
          </div>
          <div id="types" style="display:none">
            <div class="input-box"><br>
                <span class="details" for="gender">Payment Method</span><br><br>
                <input type="radio" name="gender" value="1" required>Credit<br>
                <input type="radio" name="gender" value="2" required>Debit<br>
                <input type="radio" name="gender" value="3" required>Transfer<br>
                <button class="buttonFinalize" (click)="finalize()">Finalize Purchase</button>
              </div>
              
        </div>
          </div>
          </div>
        </div>
        </div>