<app-top-bar></app-top-bar>
<body>
    <div class="container-address">
      <div class="title">Register Address</div>
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Street</span>
            <input type="text" id="street" placeholder="Enter your street" required>
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input type="text" id="city" placeholder="Enter your City" required>
          </div>
          <div class="input-box">
            <span class="details">State</span>
            <input type="text" id="state" placeholder="Enter your State" required>
          </div>
          <div class="input-box">
            <span class="details">Country</span>
            <input type="text" id="country" placeholder="Enter your Country" required>
          </div>
          <div class="input-box">
            <span class="details">Postal Code</span>
            <input type="text" id="postal_code" placeholder="Enter your postal code" required>
          </div>
        </div>
        
        <button class="btn-login" (click)="save()">Register</button>
      </form>
    </div>
      </body>