<app-top-bar [titulo]="titlePage"></app-top-bar>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
<div class="register-box">
    <h1>Mudança de endereço</h1>
    <br><br>
   <form>
       <div>
           <input type="text" id="street" placeholder="Street" />
       </div>

       <div>
            <input type="text" id="postal_code" placeholder="Postal Code" />
        </div>

        <div>
            <input type="text" id="state" placeholder="State" />
        </div>

        <div>
            <input type="text" id="city" placeholder="City" />
        </div>

        <div>
            <input type="text" id="country" placeholder="Country" />
        </div>

        <div>
            <button class="btn1">Salvar mudanças</button>
        </div>
   </form>
</div>