@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(231,231,231);
}

.container-address{
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container-address .title{
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  margin-bottom: 2rem;
}

.container-address form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: rgb(255, 135, 0);
  
}

.btn-login{
  width: 100%;
  padding: 16px 0px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  justify-self: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  background: rgb(255, 135, 0);
  cursor: pointer;
}

form input[type="radio"]{
  display: none;
}

form .button{
  height: 45px;
  margin: 45px 0; 
}

form .button input{
  height: 100%;
  margin: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: rgb(108, 30, 30);
}


form .button input:hover{
  background: rgb(69, 69, 69);
}
/* @media (max-width: 584px){
  .container{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .gender-details .category{
    width: 100%;
  }
  .container form .user-details{
    max-height: 300px;
    overflow-y: scroll; 
  }
  .user-details::-webkit-scrollbar{
    width: 0;
  }
} */

@media(max-width: 700px){
  .container, .user-details, .input-box, .gender-details, .category{
    width: 100%; margin-left: 0; margin-right: 0;
  }
}