@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
  box-sizing: border-box;
  
}
.p{
  color: whitesmoke;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 8px;
}
.main-login{
  width: 100vw;
  height: 100vh;
  background: rgb(231,231,231);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 3vw;
  margin-left: 5rem;
  color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login-image{
  width: 75vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-login{
  width: 50vw;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-login{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: rgb(27,80,107);
  border-radius:20px;
  margin-right: -15%;
}

.card-login > h1{
  color: white;
  font-weight: 800;
  margin: 0;
}

.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 12pt;
  box-shadow: 0px 10px 40px #7a7a7a56;
  outline: none;
  box-sizing: border-box;
}

.textfield > label{
  color: white;
  margin-bottom: 10px;
}

.textfield > input::placeholder{
  color: rgb(254, 135, 0);
  align-self: center;
}

.btn-login{
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;

  font-weight: 800;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  background: rgb(253,135,2);
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px rgb(10, 10, 10);
}

@media only screen and (max-width: 950px){
  .card-login{
    width: 85%;    
  }
}

@media only screen and (max-width: 600px){
  .main-login{
    flex-direction: column;
  }
  .left-login > h1{
    display: none;
  }

  .left-login{
    width: 100%;
    height: auto;
  }

  .right-login{
    width: 100%;
    height: auto;
  }
  .left-login-image{
    width: 40vh;
    margin-bottom: 10%;
  }

  .card-login{
    width: 50%;
  }
}

