<app-top-bar></app-top-bar>


<body>
  <h1>Lista de Vendas</h1>
<div class="productsList" *ngIf="products">


  <div class="purchase-details-container" *ngFor="let product of products" >  
    <div class="purchase-details-left">
       <div class="purchase-details-image">
          <img src={{product.product.image}} width="100px" height="100px"/>
      </div>
      
      <div class="purchase-details-details">
  
      <div class="purchase-details-title">
        Product: {{product.product.name}}
        </div>
      
      <div class="purchase-details-content">
        Client Name: {{product.client.name}}
        </div>
        <div class="purchase-details-content">
          Date of Sale: {{product.date_purchase| date : 'dd/MM/yyyy'}}
          </div>
      
        <div class="purchase-details-content">
          <!-- {{product.stock.unit_price | currency:'BRL'}} -->
        </div>
        
        <br>
      </div>
    </div>
  </div>


    <!--<div class="productComponent" *ngFor="let product of products" >

      <div class="item-d" >
        <img src={{product.product.image}}>
      </div>

      <div class="item-a">
            <a [title]="product.name"
            [routerLink]="['/product',product.id]">
                {{product.product.name}}
            </a>
      </div>

      <div class = "item-c">
        <p>{{product.stock.unit_price | currency:'BRL'}}</p> 

      </div>

      <div class = "item-b">
        <p>{{product.date_purchase| date : 'dd/MM/yyyy'}}</p>
        <button routerLink="/purchasedetail,product.id">Details</button>
      </div>


    </div> -->
  </div>
</body>