<app-top-bar [titulo]="titlePage">

</app-top-bar>
<div class="product-details">
    <div class="productList">
        <div class="productComponent" *ngFor="let product of products">
            <div class="container">
                <a [title]="product.name + 'details'" [routerLink]="['/product', product.id]">
                <div class="images">
                    <img src={{product.image}}>
                </div>
                </a>
                <div class="product">
                    <p>SMARTPHONE</p>
                    <h1>{{product.name}}</h1>
                    <h2>{{product.unit_price | currency: 'BRL'}}</h2>
                    <p class="descricao">{{product.description}}</p>
                    <div class="buttons">
                        <button class="add">Add to cart</button>
                        <button class="like" (click)="AddProductToWishList(product.idStocks)"><span>♥</span></button>
                    </div>
                
                </div>
        </div>
    </div>
</div>
</div>





