<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>    
    <div class="main-login">
        <div class="left-login">
            <h1>Faça login<br>como Dono de loja</h1>
            <img src="../../assets/Icon2.svg" class="left-login-image" alt="icone">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="exemplo@gmail.com" id="login">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="" id="senha">
                </div>
                <button class="btn-login" (click)="login()">Login</button>
              <div class="p">Não tem cadastro? Cadastre-se</div>
              <div class="p">Esqueceu a senha?</div>
            </div>
        </div>
    </div>
</body>
</html>