<app-top-bar></app-top-bar>

<!-- <div class="container-profile">
        <div class="photo"><img src={{client.photo}} alt=""></div>
        <label *ngIf="authToken != null" class="name">nome:  {{client.name}}</label>
        <label *ngIf="authToken != null" class="email">email:  {{client.email}}</label>
        <label *ngIf="authToken != null" class="phone">telefone:  {{client.phone}}</label>
        <label *ngIf="authToken != null" class="birth">data de nascimento:  {{client.date_of_birth}}</label>
        <label *ngIf="authToken != null" class="document">documento:  {{client.document}}</label>
        <label *ngIf="authTokenOwner != null" class="name">nome:  {{owner.name}}</label>
        <label *ngIf="authTokenOwner != null" class="email">email:  {{owner.email}}</label>
        <label *ngIf="authTokenOwner != null" class="phone">telefone:  {{owner.phone}}</label>
        <label *ngIf="authTokenOwner != null" class="birth">data de nascimento:  {{owner.date_of_birth}}</label>
        <label *ngIf="authTokenOwner != null" class="document">CPF:  {{owner.document}}</label>
        <label *ngIf="authTokenOwner != null" class="document">loja:  {{owner.document}}</label>
        <label *ngIf="authTokenOwner != null" class="document">CNPJ:  {{owner.document}}</label>
    </div>
    <div class="photo"></div>
    <div class="button-bar">
        <div  class="button-list"><button >Alterar Perfil</button></div>
        <div  *ngIf="authToken != null" class="button-list"><button [routerLink]="['/client/purchasedetails']">Compras</button></div>
        <div  *ngIf="authTokenOwner != null" class="button-list"><button [routerLink]="['/owner/sales']">Vendas</button></div>
        <div  *ngIf="authToken != null"  class="button-list"><button [routerLink]="['/client/wishlist']">WishList</button></div>
        <div class="button-list"><button (click)="logout()" [routerLink]="['/login']">Logout</button></div>
    </div> -->

<div class="main">
    <div class="left">
        <div class="info">
            <div class="title">
                <h3>Personal</h3>
                <div class="info_data">

                    <div class="data">
                        <h4>Name</h4>
                        <input type="text" name="personal" id="1" value="{{client.name}}">
                        <h4>Date of Birth</h4>
                        <input type="text" name="personal" id="2" value="{{client.date_of_birth}}">
                        <h4>Document</h4>
                        <input type="text" name="personal" id="3" value="{{client.document}}">
                        <h4>Email:</h4>
                        <input type="text" name="personal" id="4" value="{{client.email}}">
                        <h4>Phone</h4>
                        <input type="text" name="personal" id="5" value="{{client.phone}}">
                    </div>
                    <div class="btt">
                        <button (click)="allowEdit('personal')">EDITAR</button>
                        <button *ngIf="editPersonal" (click)="saveEdits('personal')">SALVAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="info">
            <div class="address">
                <div class="title">
                    <h3>Address</h3>
                </div>
                <div class="address_data">
                    <div class="data">
                        <h4>Street</h4>
                        <input type="text" name="address" id="8" value="Joaquim Gonzaga Pereira 158">
                        <h4>State</h4>
                        <input type="text" name="address" id="9" value="Paraná">
                        <h4>City</h4>
                        <input type="text" name="address" id="10" value="Curitiba">
                        <h4>Coutry</h4>
                        <input type="text" name="address" id="11" value="Brasil">
                        <h4>Postal Code</h4>
                        <input type="text" name="address" id="12" value="81900435">
                    </div>
                    <div class="btt">
                        <button (click)="allowEdit('address')">EDITAR</button>
                        <button *ngIf="editAddress" (click)="saveEdits('address')">SALVAR</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>